body{
    background-color: aqua;
    margin: 200px;
    border-style: solid;
    border-color: black;
    border-width: 5x;
    border-radius:  10px;
    padding-bottom: 50px;
    padding-top: 50px;
}
.login{
    margin-top: 20px;
}
.register{
    margin-top: 20px;
}
button{
    background-color: rgb(100, 12, 200);
    color: aliceblue;
}